<app-top-nav>
</app-top-nav>


<p class="introText">Designer, Front-end Developer, and hopefully Full Stack Developer soon :) </p>
<div class="speciality">

    <div class="card">
        <img class="icon" src="./assets/images/designer.svg" alt="">
        <h2 class="specialityTitle">Designer</h2>
        <p>UI, Logos, Graphic Design</p>
        <br>
        <h3 class="specialityTitle">Apps</h3>
        <p>Illustrator, Adobe XD</p>
    </div>

    <div class="card">
        <img class="icon" src="./assets/images/frontend.svg" alt="">
        <h2 class="specialityTitle">Developer</h2>
        <br>
        <h3 class="specialityTitle">Front-end</h3>
        <p>HTML, CSS, Javascript, Angular</p>
        <br><br>
        <h3 class="specialityTitle">OOP languages</h3>
        <p>Familiar with Java and Python</p>
    </div>

</div>

<p class="introText">My Designs</p>

<div class="designs">

    <div class="designCard" (click)="show('logos')" #logoCard>
        <span #logoCardText>Logos</span>
    </div>

    <div class="designCard" (click)="show('kufic')" #kuficCard>
        <span #kuficCardText>Square Kufic</span>
    </div>

    <div class="designCard" (click)="show('other')" #otherCard>
        <span #otherCardText>Other</span>
    </div>

</div>

<div #logos class="hCard logos hide ">

    <div class="designContainer">
        <img class="desImg" src="./assets/images/dates.svg" alt="">
    </div>

    <div class="designContainer">
        <img class="desImg" src="./assets/images/cinnabon.svg" alt="">
    </div>

    <div class="designContainer">
        <img class="desImg" src="./assets/images/khayal2.png" alt="">
    </div>

    <div class="designContainer">
        <img class="desImg" src="./assets/images/paki.svg" alt="">
    </div>

    <div class="designContainer">
        <img class="desImg" src="./assets/images/mzag.png" alt="">
    </div>

</div>

<div #kufic class="hCard kufic hide">
    <div class="designContainer">
        <img class="desImg" src="./assets/images/fahad.svg" alt="">
    </div>

    <div class="designContainer">
        <img class="desImg" src="./assets/images/harbi.svg" alt="">
    </div>

    <div class="designContainer">
        <img class="desImg" src="./assets/images/muath.svg" alt="">
    </div>

    <div class="designContainer">
        <img class="desImg" src="./assets/images/hadab.svg" alt="">
    </div>

    <div class="designContainer">
        <img class="desImg" src="./assets/images/lujain.svg" alt="">
    </div>

</div>

<div #other class="hCard other hide">
    <div class="designContainer flex">
        <a class="oth" target="_blank"
            href="https://drive.google.com/file/d/1ShAIpBMw3tfRCRsSsSsJ_Ez72lxxBChV/view?usp=sharing">Bahjah
            Chocolate Menu</a>
    </div>
</div>



<app-bottom-nav>
</app-bottom-nav>