.hCard{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: 0.3s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-right: 1px solid  rgba(0,0,0,0.1);
  padding: 1rem;
  margin: 1rem;
  padding-bottom: 2rem;
}
.designContainer{
    width: 13rem;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 3rem;
}
.desImg{
    width: 100%;
}
.oth{
    text-decoration: none;
    color: #F2786D;
    font-size: 1.6rem;
    border: 2px solid #F2786D;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}
.oth:hover{
    cursor: pointer;
    font-size: 1.9rem;
    transition: 0.6s;
    color: white;
    background-color: #F2786D;
}
.flex{
    flex: 1;
    font-size: 1.7rem;
}

.hide{
    display: none;
}
.clicked{
    background-color:#F2786D;
    transition: 0.6s;
}
.introText{
    font-weight: 800;
    font-size: 2rem;
    color: #424343;
    padding: 2rem;
    text-align: center;
    margin-top: 3rem;
}
.icon{
    width: 70px;
    max-width: 10%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 2rem;
    min-width: 3rem;
}
.specialityTitle{
    margin-bottom: 1rem;
}

.card{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  border-right: 1px solid  rgba(0,0,0,0.1);
  padding: 1rem;
  margin: 1rem;
  padding-bottom: 2rem;
}

.designCard span{
    font-size: 1.7rem;
}
.designCard{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    max-width: 400px;
    min-width: 300px;
    width: 30%;
    height: 10rem;
    border-radius: 0.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.designCard:hover{
    background-color:#F2786D ;
    transition: 0.6s;
    cursor: pointer;
}

.designs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center ;
    text-align: center;    
    width: 100%;
}

.designCard:hover span{
    font-size: 1.9rem;
    color: white;
    transition: 0.6s;
}
.white{
    color: white;
    transition: 0.6s;
}
.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.speciality{
    display: flex;
    width: 100%;
}
h3{
    font-weight: 800;
}
p{
    font-size: 1.2rem;
    
}
a{
    text-decoration: none;
    color: black;
}


@media  (max-width: 768px) {
    .speciality{
        flex-direction: column;
    }
   
    .designs{
        flex-direction: column;
    }

    .designContainer{
        margin: 2.5rem 2rem;
        width: 10rem;
        height: 5rem;
    }
    .flex{
        font-size: 1rem;
    }
    .oth{
        font-size: 1.4rem;
        border-radius: 1.4rem;
        padding: 0.7rem 1rem;
    }
    .oth:hover{
        font-size: 1.4rem;
        
    }
   
}

