<div class="bottomNav">
    <a target="_blank" href="https://www.linkedin.com/in/abdullah-alsuqyah/">
        <img class="socialMedia" src="./assets/images/linkedin.svg" alt="">
    </a>
    <a target="_blank" href="https://wa.me/966502172982/?text=hello%20abdullah">
        <img class="socialMedia" src="./assets/images/whatsapp.svg" alt="">
    </a>

    <a target="_blank" href="mailto:abdullahalsuqayh@ieee.org">
        <img class="socialMedia" src="./assets/images/email.svg" alt="">
    </a>
</div>