<div class="nav">
    <img class="logo" src="../../assets/images/myLogo.svg" alt="">
    <a href="#">Contact</a>
</div>


<div class="welcome">
    <p class="introText">Designer, Front-end Developer, and Full Stack Developer soon :) </p>
</div>

<div class="speciality">
    <div class="design card">
        <img class="logo" src="../../assets/images/designer.svg" alt="">

    </div>
    <div class="programming card">
        <img class="logo" src="../../assets/images/designer.svg" alt="">
    </div>
</div>