<!-- <div #hiddenNav class="hiddenNav hide">

    <a class="hiddenContact" href="#">Contact</a>
</div>
<div class="nav">
    <img class="logo nav-item" src="./assets/images/myLogo.svg" alt="">
    <a class="nav-item contact" href="#">Contact</a>

    <div class="burger">
        <button #hamburger (click)='burgerClicked()' class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
</div>


<p class="introText">Designer, Front-end Developer, and hopefully Full Stack Developer soon :) </p>
<div class="speciality">

    <div class="card">
        <img class="icon" src="./assets/images/designer.svg" alt="">
        <h2 class="specialityTitle">Designer</h2>
        <p>UI, Logos, Graphic Design</p>
        <br>
        <h3 class="specialityTitle">Apps</h3>
        <p>Illustrator, Adobe XD</p>
    </div>

    <div class="card">
        <img class="icon" src="./assets/images/frontend.svg" alt="">
        <h2 class="specialityTitle">Developer</h2>
        <br>
        <h3 class="specialityTitle">Front-end</h3>
        <p>HTML, CSS, Javascript, Angular</p>
        <br><br>
        <h3 class="specialityTitle">OOP languages</h3>
        <p>Familiar with Java and Python</p>
    </div>

</div>


<p class="introText">My Designs</p>

<div class="designs">
    <div class="designCard">
        <span>Logos</span>
        <a class="hide">check it out here</a>
    </div>
    <div class="designCard">
        <span>Square Kufic</span>
        <a class="hide">check it out here</a>
    </div>
    <div class="designCard">
        <span>Other</span>
        <a class="hide">check it out here</a>
    </div>


</div> -->